/* Definimos las variables en :root para que sean globales */
:root {
  --color-primario: #4c2882;
  --color-secundario: #ffffff;
  --fuente-principal: 'Arial', sans-serif;
  --espaciado: 10px;
  --main-padding: 20px;
}



.dominado {
  background-color: brown;
  color: #ffffff;
}

/* Usamos las variables */
body {
  font-family: var(--fuente-principal);
  background-color: var(--color-secundario);
  margin: var(--espaciado);
}

h1 {
  color: var(--color-primario);
  text-align: center;
}

.boton {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding: var(--espaciado);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.boton:hover {
  background-color: darkgreen;
}

/* FUNCIONES */
/* Ejemplo con calc() */
.caja {
  width: calc(50% - 20px);
  height: calc(100vh - 1px);
  background-color: lightblue;
  margin: 10px;
  text-align: center;
  font-size: 18px;
}

.caja2 {
  width: calc(427.5px * 4);
  background-color: red;
}

/* Ejemplo con rgba() */
.colores {
  background-color: rgba(255, 0, 0, 0.5);
  /* Rojo con 50% de opacidad */
  color: white;
  padding: calc(var(--main-padding) * 1);
  text-align: center;
  font-size: 18px;
}



.element {
  --x: 25px;
  --y: calc(var(--x) * -1);

  width: 50px;
  height: 50px;
  background: indigo;

  transform: translate(var(--x), var(--y));
}