/*_ Selectores básicos */
/* 
  - de tipo o etiqueta
  - de clase
  - de id
*/

p {
  color: green;
}

.color-rojo {
  color: red;
}

#color-rosa {
  color: blue;
}

/* _Selectores de atributos */
label {
  color: blueviolet;
}

.verde {
  color: green;
}

[type="email"] {
  border: orange 2px solid;
}

[href="#"] {
  color: aqua;
}


/* _ Selector hijo directo */
.padre>li {
  background-color: red;
}

/* _ Selectores descendientes */
ol li a {
  color: green;
}

div .hijo-fav {
  color: darkblue;
}

div .hijo-fav a {
  color: crimson;
}


div .hijo-no-fav .soy-b {
  color: cyan;
}

div .soy-b {
  color: darkmagenta;
}

div .hijo-no-fav {
  color: deeppink;
}

/* _selectores hermanos */
.hermanos {
  border: 1px solid red;
}

div~span {
  background-color: blue;
}

/* _Selector universal */
/*¡todo: RETOMAR TEMA!! */

*p {
  color: red;
}