@keyframes cambio-de-color {
  0% {
    background-color: red;
  }

  100% {
    background-color: blue;
  }
}

/* .box {
  width: 100px;
  height: 100px;
  animation-name: cambio-de-color;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

@keyframes ejemplo-completo {
  0% {
    background-color: red;
    transform: translateX(0);
  }

  50% {
    background-color: yellow;
    transform: translateX(100px);
  }

  100% {
    background-color: green;
    transform: translateX(0);
  }
}

/* .box2 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: ejemplo-completo;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-play-state: running;
} */

@keyframes cambiar-color {
  0% {
    background-color: red;
  }

  100% {
    background-color: blue;
  }
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200px);
  }
}

/* .box3 {
  width: 100px;
  height: 100px;
  animation-name: cambiar-color, mover;
  animation-duration: 2s, 4s;
  animation-timing-function: ease-in-out, linear;
  animation-iteration-count: infinite, 2;
} */