.box {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  border-radius: 20px 50px 10px 30px;
  padding: 20px;
  border: 2px solid blue;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  color: white;
}

.rounded-corners {
  width: 200px;
  height: 100px;
  background-color: lightgreen;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  border: 2px solid green;
}

.custom-rounded {
  width: 200px;
  height: 100px;
  background-color: lightyellow;
  border-radius: 20px 50px 10px 30px;
  padding: 20px;
  border: 2px solid yellow;
}

.rounded-image {
  width: 10px;
  height: 10px;
  background-color: lightsalmon;

  background-size: cover;
  border-radius: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  line-height: 100px;
}

.imagen {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.blanco {
  background-color: aqua;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.verde {
  background-color: green;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}